.gallery-tile {
  width: 500px;
  margin-bottom: 1rem;
  display: inline-block;
  text-align: left;
  padding: 0.3rem;
  background-color: #88888844;
  border-radius: 0.4rem;
}

.gallery-tile-title {
  margin-top: 0.01rem;
  margin-bottom: 0.25rem;
}

.gallery-tile-content {
  display: grid;
  grid-template-areas: 'stack';
  margin-bottom: 0.3rem;
  cursor: pointer;
  min-height: 250px;
}

.gallery-tile-description {
  background-color: #15151599;
  grid-area: stack;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

.gallery-tile-description p {
    max-height: 250px;
    overflow: auto;
}

.gallery-tile-content:hover .gallery-tile-description {
  opacity: 1;
  color: white;
}

.gallery-tile-description p {
  margin-top: 0.8rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  margin-bottom: 0.5rem;
  text-align: left;
  font-size: 1rem;
}

.gallery-tile-image-container {
  grid-area: stack;
  z-index: 1;
}

.gallery-tile-image {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-tile-tags {
  width: auto;
  display: block;
  text-align: left;
  font-size: 0.75rem;
}

.gallery-tile-tag {
  display: inline-block;
  background-color: #042529;
  color: white;
  margin: 0.05rem 0.25rem 0 0;
  padding: 0.3rem 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.4rem;
  text-align: center;
  vertical-align: middle;
}